@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #302f4d;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 100%;
}

input {
    border-style: none;
    padding: 10px;
    font-size: 14px;
}

.sent {
    padding-right: 20px;
    color: #302f4d;
    flex-direction: row-reverse;
    text-align: right;
}

.received{
    padding-left: 20px;
    color: #302f4d;
}

.msg{
    display: flex;
    padding-top: 20px;
    gap: 10px;
    font-size: 14px;
}

input:focus,
input:active{
    border: 0.5px solid #302f4d;
    outline: 0;
}